.App {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100vw;
    height: 100%;
}

/*  sec   background  main  */
/* indago, maroon, blue */
:root {
    --color-primary: #1e2761;
    --color-secondary: #7a2048;
    --color-thirdendary: #408ec6;
}

/* banner */
.App>h1 {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100vw;
    height: 40px;
    padding: 5px 0;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/*  mad lib choser---nav */
.nav {
    margin: 0 auto;
    min-width: 90%;
    max-width: 1000px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.nav > div {
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
    background-color: var(--color-thirdendary);
}
.nav > div:active {
    border-radius: 20px;
    background-color: rgba(150,200,250, 0.5);
}

/* main directions */
.story {
    margin: 50px auto 0 auto;
    padding-top:10px;
    height: 100px;
    line-height: 90px;
    width: 300px;
    font-size: 37px;
    background-color: var(--color-primary);
    color: white;
}

/* all forms */
form {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 600px;
    min-width: 90%;
    border: 5px solid var(--color-thirdendary);
    border-radius: 30px;
    background-color: var(--color-secondary);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 20px black;
}

label {
    height: 20px;
    padding: 3px;
    text-align: left;
    /* line-height: 20px; */
    background-color: var(--color-thirdendary);
    color: var(--color-primary);
    margin-right: 3px;
}

input {
    height: 20px;
    right: 20px;
    margin: 5px 0;
}

.formSubmit{
    margin-top: 10px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--color-thirdendary);
    color: var(--color-primary);
}

.formSubmit:active {
    background-color: var(--color-secondary);
}

.fullWidth{
    width: 200%;
}

.readButton {
    width: 100%;
    background-color: lime;
}

/* all madlib components */
.madLib {
    width: 100vw;
    background-color: var(--color-primary);
    padding-bottom: 90px;
}

.madLib h2 {
    padding: 10px;
    color: white;
    background-color: var(--color-thirdendar);
}

.fullStory {
    margin: 0 auto;
    width: 85%;
    background-color: darkblue;
    color:white;
    font-size: 1.25em;
    padding: 10px;
    border-radius: 20px;
    box-shadow:5px 5px 20px black;
    border: 3px solid blue;
}

button{
    margin: 5px auto;
    background-color: red;
    color: white;
    padding: 7px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 20px;
    box-shadow:5px 5px 10px black;
}

/*  needs fixing */
.footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    color: var(--color-thirdendar);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
}

.footer > * {
    font-weight: normal;
    margin: 0 auto;
    color: black;
}

@media (max-width: 699px){
    form {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}
